Laboratorios/LAB12/LAB12_2023-1/ProyectosBase/CSharp/SmashSoft/SmashSoft/Connected Services/ServicioWS/ServicioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.smashsoft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServicioWS" targetNamespace="http://services.smashsoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SmashSoftWebServices/ServicioWS?xsd=1" namespace="http://services.smashsoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarPorNombre">
    <part name="parameters" element="tns:listarPorNombre" />
  </message>
  <message name="listarPorNombreResponse">
    <part name="parameters" element="tns:listarPorNombreResponse" />
  </message>
  <message name="listarTodas">
    <part name="parameters" element="tns:listarTodas" />
  </message>
  <message name="listarTodasResponse">
    <part name="parameters" element="tns:listarTodasResponse" />
  </message>
  <message name="insertar">
    <part name="parameters" element="tns:insertar" />
  </message>
  <message name="insertarResponse">
    <part name="parameters" element="tns:insertarResponse" />
  </message>
  <portType name="ServicioWS">
    <operation name="listarPorNombre">
      <input wsam:Action="http://services.smashsoft.pucp.edu.pe/ServicioWS/listarPorNombreRequest" message="tns:listarPorNombre" />
      <output wsam:Action="http://services.smashsoft.pucp.edu.pe/ServicioWS/listarPorNombreResponse" message="tns:listarPorNombreResponse" />
    </operation>
    <operation name="listarTodas">
      <input wsam:Action="http://services.smashsoft.pucp.edu.pe/ServicioWS/listarTodasRequest" message="tns:listarTodas" />
      <output wsam:Action="http://services.smashsoft.pucp.edu.pe/ServicioWS/listarTodasResponse" message="tns:listarTodasResponse" />
    </operation>
    <operation name="insertar">
      <input wsam:Action="http://services.smashsoft.pucp.edu.pe/ServicioWS/insertarRequest" message="tns:insertar" />
      <output wsam:Action="http://services.smashsoft.pucp.edu.pe/ServicioWS/insertarResponse" message="tns:insertarResponse" />
    </operation>
  </portType>
  <binding name="ServicioWSPortBinding" type="tns:ServicioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicioWS">
    <port name="ServicioWSPort" binding="tns:ServicioWSPortBinding">
      <soap:address location="http://localhost:8080/SmashSoftWebServices/ServicioWS" />
    </port>
  </service>
</definitions>