Examenes/EX2/EX2_2023-1/V1_BR/SoftwareBase/CSharp/SoftProductions/SoftProductions/Connected Services/ProductoraWS/ProductoraWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softproductions.pucp.edu.pe/" targetNamespace="http://softproductions.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarSerieTelevision" type="tns:insertarSerieTelevision" />
  <xs:element name="insertarSerieTelevisionResponse" type="tns:insertarSerieTelevisionResponse" />
  <xs:element name="listarDirectorPorNombre" type="tns:listarDirectorPorNombre" />
  <xs:element name="listarDirectorPorNombreResponse" type="tns:listarDirectorPorNombreResponse" />
  <xs:element name="listarPorIdSerie" type="tns:listarPorIdSerie" />
  <xs:element name="listarPorIdSerieResponse" type="tns:listarPorIdSerieResponse" />
  <xs:element name="listarPorNombre" type="tns:listarPorNombre" />
  <xs:element name="listarPorNombreResponse" type="tns:listarPorNombreResponse" />
  <xs:element name="listarProductorasTodas" type="tns:listarProductorasTodas" />
  <xs:element name="listarProductorasTodasResponse" type="tns:listarProductorasTodasResponse" />
  <xs:complexType name="listarPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:serieTelevision" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serieTelevision">
    <xs:sequence>
      <xs:element name="activa" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="capitulos" nillable="true" type="tns:capitulo" />
      <xs:element name="costoProduccion" type="xs:double" />
      <xs:element minOccurs="0" name="fechaEmision" type="xs:dateTime" />
      <xs:element name="idSerieTelevision" type="xs:int" />
      <xs:element name="idioma" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="nombreSerie" type="xs:string" />
      <xs:element minOccurs="0" name="portada" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="productora" type="tns:productora" />
      <xs:element minOccurs="0" name="sipnosis" type="xs:string" />
      <xs:element name="temporada" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capitulo">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="director" type="tns:director" />
      <xs:element minOccurs="0" name="duracion" type="xs:string" />
      <xs:element name="idCapitulo" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCapitulo" type="xs:string" />
      <xs:element name="numeroCapitulo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="director">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidoDirector" type="xs:string" />
      <xs:element name="idDirector" type="xs:int" />
      <xs:element minOccurs="0" name="nacionalidad" type="xs:string" />
      <xs:element minOccurs="0" name="nombreDirector" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productora">
    <xs:sequence>
      <xs:element name="activa" type="xs:boolean" />
      <xs:element name="b" type="xs:int" />
      <xs:element name="g" type="xs:int" />
      <xs:element name="idProductora" type="xs:int" />
      <xs:element minOccurs="0" name="logo" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nombreProductora" type="xs:string" />
      <xs:element name="r" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDirectorPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDirectorPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:director" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorIdSerie">
    <xs:sequence>
      <xs:element name="idSerie" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorIdSerieResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:capitulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductorasTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarProductorasTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productora" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSerieTelevision">
    <xs:sequence>
      <xs:element minOccurs="0" name="serieTelevision" type="tns:serieTelevision" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSerieTelevisionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>