Laboratorios/Laboratorio 9/LAB9_2023-2/Solución/CSharp/GameSoft/GameSoft/Connected Services/ServicioWS/ServicioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.gamesoft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServicioWS" targetNamespace="http://services.gamesoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/GameSoftServices/ServicioWS?xsd=1" namespace="http://services.gamesoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarVideojuego">
    <part name="parameters" element="tns:insertarVideojuego" />
  </message>
  <message name="insertarVideojuegoResponse">
    <part name="parameters" element="tns:insertarVideojuegoResponse" />
  </message>
  <message name="listarTodasGeneros">
    <part name="parameters" element="tns:listarTodasGeneros" />
  </message>
  <message name="listarTodasGenerosResponse">
    <part name="parameters" element="tns:listarTodasGenerosResponse" />
  </message>
  <message name="listarDesarrolladorasPorNombre">
    <part name="parameters" element="tns:listarDesarrolladorasPorNombre" />
  </message>
  <message name="listarDesarrolladorasPorNombreResponse">
    <part name="parameters" element="tns:listarDesarrolladorasPorNombreResponse" />
  </message>
  <portType name="ServicioWS">
    <operation name="insertarVideojuego">
      <input wsam:Action="http://services.gamesoft.pucp.edu.pe/ServicioWS/insertarVideojuegoRequest" message="tns:insertarVideojuego" />
      <output wsam:Action="http://services.gamesoft.pucp.edu.pe/ServicioWS/insertarVideojuegoResponse" message="tns:insertarVideojuegoResponse" />
    </operation>
    <operation name="listarTodasGeneros">
      <input wsam:Action="http://services.gamesoft.pucp.edu.pe/ServicioWS/listarTodasGenerosRequest" message="tns:listarTodasGeneros" />
      <output wsam:Action="http://services.gamesoft.pucp.edu.pe/ServicioWS/listarTodasGenerosResponse" message="tns:listarTodasGenerosResponse" />
    </operation>
    <operation name="listarDesarrolladorasPorNombre">
      <input wsam:Action="http://services.gamesoft.pucp.edu.pe/ServicioWS/listarDesarrolladorasPorNombreRequest" message="tns:listarDesarrolladorasPorNombre" />
      <output wsam:Action="http://services.gamesoft.pucp.edu.pe/ServicioWS/listarDesarrolladorasPorNombreResponse" message="tns:listarDesarrolladorasPorNombreResponse" />
    </operation>
  </portType>
  <binding name="ServicioWSPortBinding" type="tns:ServicioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarVideojuego">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasGeneros">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarDesarrolladorasPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicioWS">
    <port name="ServicioWSPort" binding="tns:ServicioWSPortBinding">
      <soap:address location="http://localhost:8080/GameSoftServices/ServicioWS" />
    </port>
  </service>
</definitions>